# Introduction

The `tiledbvcf` Python module allows you to create, update, and query TileDB-VCF datasets. It was designed to facilitate convenient analysis of genomic variant data through integration with Pandas. It also provides convenient interfaces for batch-processing queries and natively supports remote remote data stores like S3. 

*Hint: By the way, you can launch an interactive version of this tutoral using TileDB Cloud Notebooks. Simply start a session with the Genomics & Geospatial image and use the integrated file browser to open the notebook: examples/genomics/02-vcf-python.ipynb.*


# Setup

This tutorial requires the following modules.

In [1]:
import tiledbvcf

import os
import tempfile
import glob
import pandas as pd

# Storing VCF files in TileDB

Similar to TileDB-VCF's command-line interface (CLI), `tiledbvcf` supports ingesting VCF (or BCF) files into TileDB, either when creating a new dataset *or* updating an existing datset with additional samples. See the [CLI tutorial](https://docs.tiledb.com/genomics/usage/cli) for a more detailed description of the ingestion process. Here, we'll only focus on the mechanics of ingestion from Python.

## Local VCFs

The `data/vcf` directory contains sample-level `vcf` files for the first 3 individuals from a synthetic dataset.

In [2]:
local_vcfs = glob.glob("data/vcfs/*vcf.gz")
local_vcfs

['data/vcfs/G2.vcf.gz', 'data/vcfs/G3.vcf.gz', 'data/vcfs/G1.vcf.gz']

Before you can ingest these files into TileDB an empty **TileDB VCF dataset** must first be created and opened in *write* mode.

In [3]:
small_ds = tiledbvcf.TileDBVCFDataset('data/small_dataset2', mode = "w")
small_ds

This returns a new `TileDBVCFDataset` object, into which the VCF files can be ingested and stored.

In [4]:
small_ds.ingest_samples(local_vcfs)

You can now re-open the dataset in *read* mode and begin to query it. For example, use `count()` to return the total number of ranges, across all samples contained within the dataset.

In [5]:
small_ds = tiledbvcf.TileDBVCFDataset('data/small_dataset2', mode = "r")
small_ds.count()

603

## Remote VCFs

As of v0.5, `tiledbvcf` supports ingesting VCF files directly from remote locations, like AWS S3. The text file `data/s3-bcf-samples.txt` contains a list of S3 URIs pointing to 7 BCF files from the same cohort.

In [6]:
with open("data/s3-bcf-samples.txt") as f:
    sample_uris = [l.rstrip("\n") for l in f.readlines()]

sample_uris

['s3://tiledb-inc-demo-data/examples/notebooks/vcfs/G4.bcf',
 's3://tiledb-inc-demo-data/examples/notebooks/vcfs/G5.bcf',
 's3://tiledb-inc-demo-data/examples/notebooks/vcfs/G6.bcf',
 's3://tiledb-inc-demo-data/examples/notebooks/vcfs/G7.bcf',
 's3://tiledb-inc-demo-data/examples/notebooks/vcfs/G8.bcf',
 's3://tiledb-inc-demo-data/examples/notebooks/vcfs/G9.bcf',
 's3://tiledb-inc-demo-data/examples/notebooks/vcfs/G10.bcf']

You can add them into your existing dataset by re-opening it in *write* mode and providing the file URIs. It's also necessary to allocate scratch space so the files can be downloaded to a temporary location prior to ingestion.

In [7]:
small_ds = tiledbvcf.TileDBVCFDataset('data/small_dataset2', mode = "w")

small_ds.ingest_samples(
    sample_uris, 
    scratch_space_path = tempfile.gettempdir(), 
    scratch_space_size=10
)

The TileDB-VCF dataset located at `data/small_dataset2` now includes records for 660 variants across 10 samples. The next section provides examples demonstrating how to query this dataset.

*Hint: To facilitate large ingestions, TileDB-VCF also integrates with [AWS Batch](https://aws.amazon.com/batch/) and provides a [helper script](https://github.com/TileDB-Inc/TileDB-VCF/blob/master/apis/aws-batch/batch-ingest.py) to use this service for parallelizing ingestion across a user-defined number of batches.*

# Querying Variant Data

The `tiledbvcf.read()` function is your primary Python interface to the variant data stored in a TileDB-VCF dataset. It allows you to perform highly targeted queries and extract data for any subset of variants, samples, or attributes. To facilitate convenient downstream analysis, `tiledbvcf.read()` always returns results as a *pandas* `Data.Frame`.

Let's look at a small example focused on a few genes of interest. The genes are stored in a `dict` that indexes each gene's genomic range.

In [2]:
genes = {
    "ZNF595": "4:53227-196092",
    "DOCK8":  "9:214865-465259",
    "DIP2C":  "10:320130-735608",
    "RPH3AL": "17:62180-202633"
}

First, make sure you have opened the dataset in *read* mode.

In [3]:
small_ds = tiledbvcf.TileDBVCFDataset('data/small_dataset2', mode = "r")

Here, we query our dataset for any variants that overlap *ZNF595* and specify which attributes to include in the results `DataFrame`.

*NOTE: We're including `%%time` to provide an indication of how long these queries take.*

In [21]:
%%time
small_ds.read(
  attrs = ['sample_name', 'pos_start'], 
  samples = ["G1", "G2"],
  regions = [genes.get("ZNF595")]
)

CPU times: user 30.3 ms, sys: 14.9 ms, total: 45.2 ms
Wall time: 152 ms

  sample_name  pos_start
0          G2      10229
1          G1      34667
2          G2      71341
3          G1      96396
4          G2     144522
5          G1     164537

The `attrs` argument accepts the following values:
* `sample_name`
* `id` (variant identifier)
* `pos_start`
* `pos_end`
* `alleles`
* `filters`

Additionally, any individual `FORMAT` or `INFO` fields that were ingested into the dataset can be included by adding a `fmt_` or `info_` prefix, respectively. The TileDB-VCF schema uses these prefixes to avoid ambiguity in cases where an attribute like *DP* could come from the *FORMAT* or *INFO* field.

*Hint: See the [API reference](https://docs.tiledb.com/genomics/apis/python#read) for a complete list of queryable attributes.*

Let's expand this query to include a list of ranges so that all gene regions of interest are scanned for hits simultaneously. Additionally, search across *all* samples in the dataset, and include each variant's alleles and each sample's genotypes.

In [4]:
%%time
samples = ["G" + str(i) for i in range(1,11)]

df = small_ds.read(
  attrs = ["sample_name", 'contig', 'pos_start', 'pos_end', 'alleles', 'fmt_GT'], 
  samples = samples,
  regions = list(genes.values())
)

df

CPU times: user 84.6 ms, sys: 131 ms, total: 216 ms
Wall time: 314 ms

    sample_name contig  pos_start  pos_end         alleles  fmt_GT
0            G2      4      10229    64580  [C, <NON_REF>]  [1, 0]
1            G1      4      34667    90547  [C, <NON_REF>]  [1, 0]
2            G3      4      11678    58526  [C, <NON_REF>]  [0, 1]
3            G3      4      58627    88895  [T, <NON_REF>]  [0, 1]
4            G2      4      71341   137942  [T, <NON_REF>]  [1, 1]
..          ...    ...        ...      ...             ...     ...
155          G9     17     137275   232420  [A, <NON_REF>]  [0, 0]
156          G8     17     161672   257573  [T, <NON_REF>]  [1, 1]
157         G10     17     170206   238775  [A, <NON_REF>]  [0, 0]
158          G4     17     190797   218870  [A, <NON_REF>]  [1, 0]
159          G7     17     196812   275464  [T, <NON_REF>]  [0, 1]

[160 rows x 6 columns]

The output format from `read()` is always a `DataFrame` in *"long"* format, in which each row represents an individual variant indexed by a specific sample and genomic position. However, you can easily reformat into a *"wide"* variant &times; sample genotype matrix using the `pivot()` method provided by *pandas*.

In [5]:
df_wide = df.copy()
df_wide = df_wide.set_index(["contig", "pos_start"])
df_wide[["sample_name", "fmt_GT"]].pivot(columns = "sample_name")

                  fmt_GT                                                    \
sample_name           G1  G10      G2      G3      G4      G5   G6      G7
contig pos_start
10     249832        NaN  NaN     NaN     NaN  [1, 1]     NaN  NaN     NaN
       251972        NaN  NaN  [0, 0]     NaN     NaN     NaN  NaN     NaN
       265213        NaN  NaN     NaN     NaN     NaN  [1, 1]  NaN     NaN
       271448        NaN  NaN     NaN     NaN     NaN     NaN  NaN     NaN
       279584        NaN  NaN     NaN     NaN     NaN     NaN  NaN  [1, 1]
...                  ...  ...     ...     ...     ...     ...  ...     ...
9      415516        NaN  NaN     NaN     NaN     NaN     NaN  NaN     NaN
       422045     [0, 1]  NaN     NaN     NaN     NaN     NaN  NaN     NaN
       422068        NaN  NaN     NaN     NaN     NaN     NaN  NaN  [0, 0]
       450228        NaN  NaN     NaN  [0, 0]     NaN     NaN  NaN     NaN
       464150        NaN  NaN     NaN     NaN     NaN  [0, 1]  NaN     NaN


sample_name        G8      G9
contig pos_start
10     249832     NaN     NaN
       251972     NaN     NaN
       265213     NaN     NaN
       271448     NaN  [1, 1]
       279584     NaN     NaN
...               ...     ...
9      415516     NaN  [1, 1]
       422045     NaN     NaN
       422068     NaN     NaN
       450228     NaN     NaN
       464150     NaN     NaN

[160 rows x 10 columns]

At this point, you've created and queried a small example dataset. Next you will work with a more realistically sized dataset and utilize `tiledfvcf`'s features for handling large queries, which can enable incremental/out-of-core processing in the event that the requested data is too large to fit in main memory.

# Handling Large Queries

Unlike the CLI, which exports directly to disk, results for queries performed using Python are read into memory. Therefore, when querying even moderately sized genomic datasets, the amount of available memory must be taken into consideration. 

Here, we will demonstrate several of `tilebvcf`'s features for overcoming memory limitations when querying large datasets. To do so, the following examples will utilize a new example TileDB-VCF dataset that contains 20 samples with over 20 million variants each. This dataset is publicly available on S3 and TileDB Cloud, and can be access with `tiledbvcf` by simply providing the appropriate URI.

In [13]:
import tiledbvcf
uri = "data/vcf-samples-20"

# uri = "tiledb://vcf-samples-20"
# uri = "s3://tiledb-inc-demo-data/tiledb-arrays/2.0/vcf-samples-20"

## Memory Budget

One strategy for accommodating large queries is to simply increase the amount of memory available to `tiledbvcf`. By default `tiledbvcf` allocates 2Gb of memory for queries. However, this value can be adjusted using the `memory_budget_mb` parameter. For the purposes of this tutorial the budget will be *decreased* to demonstrate how `tiledbvcf` is able to perform genome-scale queries even in a memory constrained environment.

In [14]:
cfg = tiledbvcf.ReadConfig(memory_budget_mb=256)
ds = tiledbvcf.Dataset(uri, mode = "r", cfg = cfg)

You can read more about how TileDB-VCF allocates memory [here](https://docs.tiledb.com/genomics/advanced/read-algorithm#buffer-allocation).

## Batched Reads

For queries that encompass many genomic regions you can simply provide an external `bed` file. In this example, you will query for any variants located in the promoter region of a known gene located on chromosomes 1–4. 

After performing a query, you can use `read_completed()` to verify whether or not *all* results were succesfully returned.

In [19]:
attrs = ["sample_name", "contig", "pos_start", "fmt_GT"]
df = ds.read(attrs, bed_file = "data/gene-promoters-hg38.bed")
ds.read_completed()

False

In this case, it returned `False`, indicating the requested data was too large to fit in memory so `tiledbvcf` retrieved as many records as possible in this first batch. The reamining records can be retrieved using `continue_read()`. Here, we've setup our code to accomodate the possibility that the full set of results are split across multiple batches.

In [16]:
print ("The dataframe contains")

while not ds.read_completed():
    print (f"\t...{df.shape[0]} rows")
    df = df.append(ds.continue_read())

print (f"\t...{df.shape[0]} rows")

The dataframe contains
	...1525201 rows
	...3050402 rows
	...4102456 rows

## Iteration

A Python generator version of read function is also provided. This pattern provides a powerful interface for batch processing variant data.

In [18]:
ds = tiledbvcf.Dataset(uri, mode = "r", cfg = cfg)

attrs.append("query_bed_start")

df = pd.DataFrame()
for batch in ds.read_iter(attrs, bed_file = "data/gene-promoters-hg38.bed"):
    df = df.append(batch, ignore_index = True)
    
df

         sample_name contig  pos_start    fmt_GT  query_bed_start
0        v2-DjrIAzkP   chr1          1  [-1, -1]             9868
1        v2-IiOpvyno   chr1          1  [-1, -1]             9868
2        v2-Mcwmkqnx   chr1          1  [-1, -1]             9868
3        v2-OQnVEHdQ   chr1          1  [-1, -1]             9868
4        v2-PDeVyHSO   chr1          1  [-1, -1]             9868
...              ...    ...        ...       ...              ...
4102451  v2-usVwJUmo   chr4  190062968  [-1, -1]        190062501
4102452  v2-ijrKdkKh   chr4  190063018  [-1, -1]        190062501
4102453  v2-nGEAqwFT   chr4  190063027  [-1, -1]        190062501
4102454  v2-nzLyDgYW   chr4  190063182  [-1, -1]        190062501
4102455  v2-xRPczpsP   chr4  190063221  [-1, -1]        190062501

[4102456 rows x 5 columns]

# WIP

In [ ]:
# df["allele"] = df.fmt_GT.transform(lambda x: sum(x))

prom_counts = df[["sample_name", "contig", "query_bed_start"]].groupby(["contig", "query_bed_start"]).count()
prom_counts

In [ ]:
prom_counts.hist(bins = 50)

In [ ]:
# cfg = tiledbvcf.ReadConfig(memory_budget_mb=256)
ds = tiledbvcf.TileDBVCFDataset(uri, mode = "r")
ds
# df = small_ds.read(attrs = ["sample_name"])
# small_ds.read_iter(small_ds.attributes())
# small_ds.read_completed()

ds.count()

In [ ]:
%%time
import matplotlib

In [ ]:
ds.read_completed()

In [ ]:
%%time
df = ds.read(attrs = ["sample_name", "contig", "pos_start"], bed_file = "data/gene-promoters.bed")
ds.read_completed()

In [ ]:
print ("The dataframe contains")

while ds.read_completed() == False:
    print (f"\t...{df.shape[0]} rows")
    df = df.append(ds.continue_read())

print (f"\t...{df.shape[0]} rows")

In [ ]:
cfg = tiledbvcf.ReadConfig(memory_budget_mb=512)
ds = tiledbvcf.TileDBVCFDataset(uri, mode = "r", cfg = cfg)

In [ ]:
# drops rows for which any column is empty 
# v2-DjrIAzkP	chr1	28198996	[C, <NON_REF>]	28197054	
df = df.dropna(axis = 0)
df["filters"] = df.filters.transform(lambda filters: filters[0])
df

In [ ]:
df.groupby(["filters"]).count()

In [ ]:
df["allele"] = df.fmt_GT.transform(lambda x: sum(x))
df.groupby(["allele"]).count()

In [ ]:
df.query("allele > 2")

In [ ]:
df.groupby(["allele"]).count()

In [ ]:
ds.attributes(attr_type="fmt")

In [ ]:
df

In [ ]:
import seaborn as sns